<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1 style="text-align: center">Student Details</h1>
    <table id="personal-details">
      <tr>
        <th>Roll Number</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      <tr>
        <td>{{stud.roll_number}}</td>
        <td>{{stud.first_name}}</td>
        <td>{{stud.last_name}}</td>
      </tr>
    </table>

    <h1 style="text-align: center">Enrollment list</h1>
    <table id = "enroll-table">
        <tr>
        <th>S. No.</th>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Course Description</th>
        </tr>
        {% for i in range(enrollments|length) %}
        <tr>
        <td>{{enrollments[i].enrollment_id}}</td>
        <td>{{courses[i].course_code}}</td>
        <td>{{courses[i].course_name}}</td>
        <td>{{courses[i].course_description}}</td>
        </tr>
        {% endfor %}
        </table>
        <p><a href="/">Go Back</a></p>
  </body>
</html>
